body {
    background: #eeeeee; 
    font-family: "Segoe UI";
    }
    p {
    margin-bottom: 40px;
    }
    #wrapper { width: 720px;
    background: white; 
    margin: auto; 
    padding: 10px; 
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    }
    .interest {
    color: skyblue; /* or #ff0000 */
    font-weight: bold;
    text-decoration: underline; 
    font-style: italic;
    font-size: 15px;
    }

    h1 {
        text-align: center; 
        margin-top: 0px;
    }
    img {
    border-radius: 12px;
    }
    h2 {
    border-left: 3px solid orange; 
    padding-left: 5px;
    }
    a {
    color: steelblue;
    }
    a:visited {
    color: darkblue;
    }
        